*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #130444;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gamename{
    color: #edeeee;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:  0 0 1rem rgba( 0,0,0,0.3);
    font-size:8vmin;
    color: rgb(5, 136, 44);
    background-color: rgb(208, 203, 202);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(82, 28, 192);
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{

    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(56, 54, 54);
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: rgb(225, 237, 239);
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}